{{ define "main" }}
  <div class="wrap mt post">
    <div>
      {{- $date := (dateFormat "02. January 2006" .Date) -}}
      <p class="post_date">{{ $date }}</p>
      <h1 class="post_title">{{ .Title }}</h1>
      <div class="post_body">
        <div class="post_inner">
        {{ if isset .Params "hero" }}
          {{ if hasPrefix .Params.hero "https://www.youtube.com/" }}
            <div class="video">
              {{ $videoId := index (last 1 (split .Params.hero "=")) 0 }}
              <iframe src="https://youtube.com/embed/{{ $videoId }}"></iframe>
            </div>
          {{ else }}
            <img src="{{ .Params.hero }}" alt="{{ . }}" class="post_thumbnail">
          {{ end }}
        {{ end }}
          {{ .Content }}
        </div>
        <div class="post_extra mb-2">
          {{ partial "share" . }}
        </div>
        <div>
        {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
    {{ if eq .Type "posts" }}
      <div class = 'grid-2 post_nav'>
        {{ with .PrevInSection }}
          <span class="post_prev">
            <svg class="icon icon_scale">
              <use xlink:href="#double-arrow-left"></use>
            </svg>
            <a href="{{ .Permalink }}">昨昏 ê 圖：{{ .Title }}</a>
          </span>
        {{ else }}
          <div></div>
        {{ end }}
        {{ with .NextInSection }}
          <span class="post_next">
            <a href="{{ .Permalink }}">明仔載 ê 圖：{{ .Title }}</a>
              <svg class="icon icon_scale">
                <use xlink:href="#double-arrow-right"></use>
              </svg>
          </span>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
