<h2>
    啥物是 APOD
</h2>

<p>
    <a href="/about/" target="_blank" rel="noopener">
        本站 ê 介紹 (台語/華語)
    </a>
</p>
<p>
    <a href="https://apod.nasa.gov/apod/lib/about_apod.html" target="_blank">
        APOD ê 介紹 (英語)
    </a>
</p>

<p>
    APOD ê 各種語言：<a href="http://www.apodar.com/">Arabic</a>,
    <a href="http://www.apod.cat/">Catalan</a>,
    <a href="http://www.bjp.org.cn/mryt/">Chinese</a> (Beijing),
    <a href="http://sprite.phys.ncku.edu.tw/astrolab/mirrors/apod/apod.html">Chinese</a> (Taiwan),
    <a href="http://www.apod.rs/Croatia.html">Croatian</a>,
    <a href="http://www.astro.cz/apod/">Czech</a>,
    <a href="http://www.apod.nl/">Dutch</a>,
    <a href="http://www.skypix.org/apod/">Farsi</a>,
    <a href="http://www.cidehom.com/apod.php">French</a>,
    <a href="http://www.starobserver.org/">German</a>,
    <a href="http://www.astronomia2009.org.il/info/apod/apod.htm">Hebrew</a>,
    <a href="http://apod.infoastronomy.org/">Indonesian</a>,
    <a href="http://home.u05.itscom.net/apodjpn/apodj/apodj0.htm">Japanese</a>,
    <a href="http://wouldyoulike.org/apod/">Korean</a>,
    <a href="http://www.apod.rs/Montenegro.html">Montenegrin</a>,
    <a href="http://apod.pl/apod/">Polish</a>,
    <a href="http://www.astronet.ru/db/apod.html">Russian</a>,
    <a href="http://www.apod.rs/">Serbian</a>,
    <a href="http://apod.fmf.uni-lj.si/">Slovenian</a>,
    <a href="http://observatorio.info/">Spanish</a>,
    <a href="https://apod-taigi.blogspot.com/"><b>Taiwanese</b></a>,
    <a href="https://www.uzaydanhaberler.com/category/gorsel/apod/">Turkish</a>,
    <a href="https://rasyonalist.org/kategori/apod/">Turkish</a>, and
    <a href="http://astronomy.pp.ua/">Ukrainian</a>.
</p>

<p>
    作者佮編輯：<a href="http://www.phy.mtu.edu/faculty/Nemiroff.html">Robert Nemiroff</a> (<a href="http://www.phy.mtu.edu/">MTU</a>) &
    <a href="https://antwrp.gsfc.nasa.gov/htmltest/jbonnell/www/bonnell.html">Jerry Bonnell</a> (<a href="http://www.astro.umd.edu/">UMCP</a>)
</p>

<p>
    NASA 辦公室：Phillip Newman
    <a href="https://apod.nasa.gov/apod/lib/about_apod.html#srapply">
        Specific rights apply
    </a>.
</p>

<p>
    NASA ê 聲明：<a href="https://www.nasa.gov/about/highlights/HP_Privacy.html">NASA Web Privacy Policy and Important Notices</a>
</p>

<p>
    服務提供：<a href="https://astrophysics.gsfc.nasa.gov/">ASD</a> at
    <a href="https://www.nasa.gov/">
        NASA
    </a>/
    <a href="https://www.nasa.gov/centers/goddard/">
        GSFC
    </a>&
    <a href="http://www.mtu.edu/">
        Michigan Tech. U.
    </a>
</p>

<p>
    台文翻譯：An-Li Tsai (<a href="https://www.astro.ncu.edu.tw/">NCU</a>)
</p>
