{{- define "main" }}
  <div class="archive wrap mt">
    {{ $years := .Sections.ByTitle.Reverse }}
    {{ $paginator := (.Paginate $years 1) }}
    {{ range $paginator.Pages }}
      <h1 class="archive_title">{{ .Title }} 年 ê 圖</h1>
      {{ range (where ($.Site.Pages.GroupByDate "2006") "Key" "==" .Title) }}
        {{ range (where (where .Pages "Section" "daily" ) "IsPage" "=" true) }}
          {{- partial "item" . }}
        {{ end }}
      {{ end }}

      <div class = 'grid-2 post_nav'>
        {{ if $paginator.HasPrev }}
          {{ $prev_year := (index $years (sub $paginator.PageNumber 2)) }}
          <span class="post_prev">
            <svg class="icon icon_scale">
              <use xlink:href="#double-arrow-left"></use>
            </svg>
            <a href="{{ .Site.BaseURL }}{{ $paginator.Prev.URL }}">{{ $prev_year.Title }} 年 ê 圖</a>
          </span>
        {{ else }}
          <div></div>
        {{ end }}

        {{ if $paginator.HasNext }}
          {{ $next_year := (index $years $paginator.PageNumber) }}
          <span class="post_next">
            <a href="{{ .Site.BaseURL }}{{ $paginator.Next.URL }}">{{ $next_year.Title }} 年 ê 圖</a>
              <svg class="icon icon_scale">
                <use xlink:href="#double-arrow-right"></use>
              </svg>
          </span>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{- end }}
